<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
   <head th:replace="~{Layout/_Layout :: head}">
        <title>Creaciones Mari - Iniciar Sesion</title>
    </head>
    <body class="bg-Proyecto">
<!--        <header th:replace="~{layout/plantilla :: header}"></header>-->
        <section th:replace="~{Categoria/Fragmentos :: editarCategoria}"/>
        <footer th:replace="~{Layout/_Layout :: footer}"></footer>
    </body>
</html>
